:root {
  /* Colori */
  --black: #0a0a0f;
  --fucsia: #ff00ff;
  --neon-blue: #00f3ff;
  --neon-blue-soft: #c9fbff;

  /* Fonts */
  --fs-h1: 1.8rem;
  --fs-h2: 1.5rem;
  --fs-h4: 1.1rem;
  --fs-p: 1.1rem;
}

body {
  background-color: var(--black);
  border: 3.5px solid grey;
  margin: 1rem;
  color: var(--neon-blue-soft);
  position: relative;
  font-family: 'VT323', monospace;
}

.border {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--fucsia);
  margin: 5px;
  position: relative;
  min-height: 100vh;
  padding: 1em;
}

.border header {
  display: flex;
  justify-content: center;
}

header img {
  height: 50px;
  width: 100px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

h1{
  color: var(--neon-blue);
  font-size: 8rem;
}

h2{
  color: var(--fucsia);
  font-size:3rem;
}

.glow{
    text-shadow:
        0 0 5px var(--neon-blue),
        0 0 10px var(--neon-blue),
        0 0 20px var(--neon-blue);
}

p{
  font-size:1.6rem;
}

.start-button{
    max-width: 9rem;
    background-color: rgba(255, 0, 255, 0.1);
    color: var(--fucsia);
    font-weight: bolder;
    font-size: 2rem;
    border: var(--fucsia) solid 3px;
    align-self: center;
    padding: 1.5rem;
    text-decoration: none;
    cursor:pointer;
}

.start-button:hover{
        background-color: var(--neon-blue);
        color: var(--black);
        cursor: pointer;
}
    /* text-shadow: 0 0 5px var(--fuxia), 0 0 10px var(--fuxia), 0 0 20px var(--fuxia);

/* .start-button {
  display: inline-block;
  padding: 12px 24px;

  background: black;
  color: white;

  text-decoration: none;

  border-radius: 8px;

  font-family: 'VT323', monospace;
} */
